<header class="header">
    <div class="logo-title">
      <img src="assets/logo.png" alt="Ambati Logo" class="logo">
      <span class="site-title"></span>
    </div>
    <nav class="nav-links">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a href="#kids-corner" routerLinkActive="active">Kid’s Corner</a>
      <a href="#vacations" routerLinkActive="active">Vacations</a>
      <a routerLink="/gallery" routerLinkActive="active">Gallery</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </nav>
  </header>
  